<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta name="keywords" content="profile">
    <meta name="author" content="Sawada Tomoya">
    <link rel="apple-touch-icon" sizes="180x180" href="image/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/icon/favicon-16x16.png">
    <link rel="manifest" href="image/icon/site.webmanifest">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Code" rel="stylesheet">
    <style>body {font-family: 'Fira Code', monospace;}</style>
    <!-- icon color -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <style>i {color: black;}</style>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>STomoya</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">STomoya</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#profile">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#background">background</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#achievement">achievement</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="text-decoration-none light" href="https://github.com/STomoya">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5" id="profile">
        <h2><i class="bi bi-person-bounding-box"></i> Profile</h2>
        <div class="row align-items-center">
            <div class="col-md-4">
                <img class="img-fluid" src="image/sawada.jpg" alt="TomoyaSawada">
            </div>
            <div class="col-md-8">
                <table class="table small">
                    <tbody>
                        <tr class="mt-2">
                            <th class="align-middle" scope="row">name</th>
                            <td><p>Tomoya Sawada</p><h2>澤田知也</h2></td>
                        </tr>
                        <tr class="mt-2">
                            <th class="align-middle" scope="row">affiliation</th>
                            <td><a href="https://mm.doshisha.ac.jp/" class="text-reset text-decoration-none"><p class="text-wrap">Doshisha Universtiy<br>Graduate School of Science and Engineering<br>Intelligent Mechanism Laboratory</p>
                                <h5>同志社大学大学院 理工学研究科 情報工学専攻 知的機構研究室</h5></a></td>
                            </tr>
                            <tr class="mt-2">
                                <th scope="row">birthday</th>
                                <td>1998/01/10</td>
                            </tr>
                            <tr class="mt-2">
                                <th class="align-middle">contact</th>
                                <td>sawada[AT]mm.doshisha.ac.jp<br>stomoya[AT]gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="my-2">
                <a class="btn border" href="https://github.com/STomoya"><i class="bi bi-github"></i></a>
                <a class="btn border" href="https://twitter.com/STomoya0110"><i class="bi bi-twitter"></i></a>
                <a class="btn border" href="https://huggingface.co/STomoya"><i class="bi bi-emoji-laughing"></i></a>
                <a class="btn border" href="https://stomoya.sakura.ne.jp/blog/"><i class="bi bi-wordpress"></i></a>
            </div>
            <div id="interest">
                <h5>Interests</h5>
                <span class="badge rounded-pill bg-secondary mx-1" v-for="topic in topics">{{ topic }}</span>
            </div>
        </div>

        <div class="container mt-5" id="background">
            <h2><i class="bi bi-mortarboard-fill"></i> Academic Background</h2>
            <table class="table small">
                <tbody>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2022/04 ~ current</th>
                        <td>同志社大学大学院 理工学研究科 情報工学専攻 博士後期課程</td>
                    </tr>
                    <tr class="mt-2 text-muted">
                        <th class="align-middle col-md-2" scope="row">2020/04 ~ 2022/03</th>
                        <td>同志社大学大学院 理工学研究科 情報工学専攻 博士前期課程</td>
                    </tr>
                    <tr class="mt-2 text-muted">
                        <th class="align-middle col-md-2" scope="row">2019/04 ~</th>
                        <td>知的機構研究室 配属</td>
                    </tr>
                    <tr class="mt-2 text-muted">
                        <th class="align-middle col-md-2" scope="row">2016/04 ~ 2020/03</th>
                        <td>同志社大学 理工学部 インテリジェント情報工学科</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-5" id="achievement">
            <h2><i class="bi bi-book"></i> Achievements</h2>
            <h4>International</h4>
            <table class="table small">
                <tbody>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2023/07</th>
                        <td>T. Sawada, M. Katsurai and M. Okubo, "High-Quality Synthetic Character Image Extraction via Distortion Recognition," International Conference on Human-Computer Interaction (HCII), Copenhagen, Denmark, pp. 522-535, (2023)</td>
                    </tr>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2020/01</th>
                        <td>T. Sawada and M. Katsurai, "A Deep Multimodal Approach for Map Image Classification," 2020 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), Barcelona, Spain, pp. 4457-4461, (2020)</td>
                    </tr>
                </tbody>
            </table>
            <h4>日本</h4>
            <table class="table small">
                <tbody>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2023/03</th>
                        <td>澤田知也, 桂井麻里衣, "自己教師あり画像特徴量を用いたイラスト生成器の評価," 第9回コミック工学研究会, pp. 21-45, (2023)
                        </td>
                    </tr>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2021/11</th>
                        <td>澤田知也, 桂井麻里衣, "Character Illustration Deformation via Unpaired Image-to-Image Translation," 第36回信号処理シンポジウム, pp. 38-43, (2021)
                        </td>
                    </tr>
                    <tr class="mt-2">
                        <th class="align-middle col-md-2" scope="row">2021/11</th>
                        <td>澤田知也, 桂井麻里衣, "深層学習を用いたキャラクタ画像のデフォルメ化," NICOGRAPH 2021, pp. P-22:1-P-22:2, (2021)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container my-5" id="projects">
            <h2><i class="bi bi-terminal"></i> Projects</h2>
            <div class="row small">
                <div class="col-lg-4" v-for="project in projects">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="card-title">{{ project.name }}</div>
                            <div class="card-text">{{ project.description }}</div>
                            <span class="mx-2" v-for="link in project.links"><a :href="[link.url]">{{ link.name }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer mt-auto py-3 bg-light small">
            <div class="container">
                <span class="text-muted">&copy; Tomoya Sawada 2021-2023</span>
            </div>
        </footer>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="js/index.js"></script>
    </body>
</html>
