<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<meta name="keywords" content="profile">
<meta name="author" content="Sawada Tomoya">
<link rel="apple-touch-icon" sizes="180x180" href="image/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="image/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="image/icon/favicon-16x16.png">
<link rel="manifest" href="image/icon/site.webmanifest">

<!-- Facebook and Twitter integration -->
<meta property="og:title" content=""/>
<meta property="og:image" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:description" content=""/>
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<title>STomoya</title>
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Fira+Code" rel="stylesheet">
<style>body {font-family: 'Fira Code', monospace;}</style>
<!-- icons -->
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
<style>ion-icon {color: black;}</style>
<!-- vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    
    
</head>
<body class="bg-info">
    
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">STomoya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_navbar" aria-controls="top_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="top_navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="navbar-item">
                <a href="http://github.com/STomoya/" class="btn btn-outline-secondary mr-2"><ion-icon name="logo-github"></ion-icon></a>
            </li>
            <li class="navbar-item">
                <a href="#/" class="btn btn-outline-secondary"><ion-icon name="logo-twitter"></ion-icon></ion-icon></a>
            </li>
        </ul>
    </div>
</nav>

    
<div id="projects" class="my-4">
    <div class="album py-4">
        <div class="container px-3">
            <nav class="navbar mb-3">
                <h3 class="navbar-brand">Projects</h3>
                <div class="navbar-nav col-md-2">
                    <button class="btn btn-outline-secondary" @click="change_lang()">[[ lang ]]</button>
                </div>
            </nav>
            <div class="card-deck">
                <div class="row px-4">
                    <div v-for="project in projects" class="card shadow-sm col-md-4 mb-3 bg-light">
                        <div class="card-body d-flex flex-column">
                            <div class="card-title">[[ project.title ]]</div>
                            <p v-if="lang === 'en'" class="card-text text-muted">[[ project.jtext ]]</p>
                            <p v-else class="card-text text-muted">[[ project.etext ]]</p>
                            <div class="text-right mt-auto">
                                <a :href="project.url" class="btn btn-primary">github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
    <!-- footer -->
<footer class="footer mt-auto py-3 text-center">
    <small class="text-muted">&copy; 2020 STomoya All Rights Reserved</small>
</footer>

    
<script src="js/projects.js"></script>

</body>
</html>