<nav class="navbar navbar-expand-md navbar-light bg-light shadow">
    <a class="navbar-brand" href="#">STomoya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_navbar" aria-controls="top_navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="top_navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/docs/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs/news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs/projects">Projects</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a href="http://github.com/STomoya/" class="btn btn-outline-secondary"><ion-icon name="logo-github"></ion-icon></a>
            </li>
            <li class="navbar-item">
                <a href="#/" class="btn btn-outline-secondary"><ion-icon name="logo-twitter"></ion-icon></ion-icon></a>
            </li>
        </ul>
    </div>
</nav>